.p0{
    padding: 10px;
}

.div-size{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.shape{
    position: absolute;
    top: 8%;
    left: 70%;
}


.chat{
    fill: white;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 70%;
}

.center-div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

